<div class="row">

  <div *ngFor="let product of products" class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
          <a href="#"><img class="card-img-top" [src]="product.image" alt=""></a>
          <div class="card-body">
              <h4 class="card-title">
                  <a href="#">{{product.name}}</a>
              </h4>
              <h5>${{product.price}}</h5>
              <p class="card-text">{{product.desc}}</p>


          </div>
          <button class="btn btn-primary m-3 d-block">Buy now</button>
          <button routerLink="/product/{{product.id}}">Chi tiet</button>
          <button routerLink="/product/edit/{{product.id}}">Edit</button>

      </div>
  </div>


</div>
